.contact-text,
.contact-text-small {
  color: hsl(135, 54%, 21%);
  font-weight: bold;
}

.contact-text-small {
  font-size: 0.8rem;
}

.contact-icon {
  margin: 0.75rem 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.phone {
  background-image: url('/img/phone.svg');
}

.facebook {
  background-image: url('/img/facebook_bold.svg');
}

.email {
  background-image: url('/img/email.svg');
}

.location {
  background-image: url('/img/location.svg');
}
