* {
  margin: 0;
  padding: 0;
}

.title {
  color: #47525e;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.26em;
  margin-bottom: 4rem;
}

.divider {
  margin: 2.43rem 1rem;
  width: 90%;
}
