.accordion {
  margin-bottom: 0.5rem;
}

.accordion-summary {
  border: 1px solid black;
  border-radius: 10px;
}

.accordion-summary-text {
  font-weight: 600;
}

.accordion-details-title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.accordion-details-text {
  font-size: 1.5rem;
  letter-spacing: 0.26em;
  margin-bottom: 2rem;
}

.inner-acc {
  border: 1px solid gray;
  width: 90%;
}

.inner-acc:not(:last-child) {
  border-bottom: 0;
}

.inner-acc::before {
  display: none;
}

.inner-acc-sum {
  flex-direction: row-reverse;
}

.inner-acc-sum.Mui-expanded {
  background-color: hsl(0, 0%, 95%);
}

.inner-acc-det {
  background-color: hsl(0, 0%, 95%);
  border-radius: 0 !important;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.MuiAccordion-root::before {
  display: none;
}

.MuiAccordionDetails-root {
  padding: 3rem;
  border-radius: 10px;
}

.MuiAccordionSummary-root .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg);
}

.green-bg {
  background-color: var(--main-color-transparent);
}

.green-bg p {
  color: white;
}

.green-bg .accordion-details-text {
  font-weight: lighter;
}

@media screen and (max-width: 750px) and (min-width: 400px) {
  .accordion-details-title {
    font-size: 2.5rem;
  }

  .accordion-details-text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 399px) {
  .accordion-details-title {
    font-size: 2rem;
  }

  .accordion-details-text {
    font-size: 0.8rem;
  }
}
